<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Label</key>
		<string>Activity</string>
		<key>Scheme</key>
		<string>activitytoday://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Alarm</string>
		<key>Scheme</key>
		<string>clock-alarm://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>App Store</string>
		<key>Scheme</key>
		<string>itms-apps://itunes.apple.com</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Apple Store</string>
		<key>Scheme</key>
		<string>applestore://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Books</string>
		<key>Scheme</key>
		<string>ibooks://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Calculator</string>
		<key>Scheme</key>
		<string>calc://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Calendar</string>
		<key>Scheme</key>
		<string>calshow://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Camera</string>
		<key>Scheme</key>
		<string>camera://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Contacts</string>
		<key>Scheme</key>
		<string>contact://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Clips</string>
		<key>Scheme</key>
		<string>clips://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Stopwatch</string>
		<key>Scheme</key>
		<string>clock-stopwatch://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Timer</string>
		<key>Scheme</key>
		<string>clock-timer://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Family</string>
		<key>Scheme</key>
		<string>family://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Feedback</string>
		<key>Scheme</key>
		<string>applefeedback://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Files</string>
		<key>Scheme</key>
		<string>shareddocuments://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Find My</string>
		<key>Scheme</key>
		<string>findmy://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Find My Friends</string>
		<key>Scheme</key>
		<string>findmyfriends://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Find My iPhone</string>
		<key>Scheme</key>
		<string>fmip1://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Fitness</string>
		<key>Scheme</key>
		<string>fitnessapp://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Freeform</string>
		<key>Scheme</key>
		<string>freeform://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>GarageBand</string>
		<key>Scheme</key>
		<string>garageband://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Health</string>
		<key>Scheme</key>
		<string>x-apple-health://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Home</string>
		<key>Scheme</key>
		<string>homeutil://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>iMovie</string>
		<key>Scheme</key>
		<string>imovie://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>iTunes</string>
		<key>Scheme</key>
		<string>itms-services://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>iTunes Remote</string>
		<key>Scheme</key>
		<string>remote://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>iTunes Store</string>
		<key>Scheme</key>
		<string>itms://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>iTunes U</string>
		<key>Scheme</key>
		<string>itunesu://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>stringnote</string>
		<key>Scheme</key>
		<string>x-stringnote-live://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Maps</string>
		<key>Scheme</key>
		<string>maps://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Mail</string>
		<key>Scheme</key>
		<string>message://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Messages</string>
		<key>Scheme</key>
		<string>messages://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Music</string>
		<key>Scheme</key>
		<string>music://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>News</string>
		<key>Scheme</key>
		<string>applenews://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Notes</string>
		<key>Scheme</key>
		<string>applenotes://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Numbers</string>
		<key>Scheme</key>
		<string>com.apple.iwork.numbers-share://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Photos</string>
		<key>Scheme</key>
		<string>photos-redirect://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Podcasts</string>
		<key>Scheme</key>
		<string>podcasts://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Reminders</string>
		<key>Scheme</key>
		<string>x-apple-reminder://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Safari</string>
		<key>Scheme</key>
		<string>x-web-search://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Settings</string>
		<key>Scheme</key>
		<string>App-prefs://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Shortcuts</string>
		<key>Scheme</key>
		<string>shortcuts://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Stocks</string>
		<key>Scheme</key>
		<string>stocks://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Support</string>
		<key>Scheme</key>
		<string>applesupport://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>TestFlight</string>
		<key>Scheme</key>
		<string>itms-beta://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>TV</string>
		<key>Scheme</key>
		<string>videos://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>TV Remote</string>
		<key>Scheme</key>
		<string>tvremote://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Voice Memos</string>
		<key>Scheme</key>
		<string>voicememos://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Wallet</string>
		<key>Scheme</key>
		<string>wallet://</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>Watch</string>
		<key>Scheme</key>
		<string>com.apple.Bridge://</string>
	</dict>
</array>
</plist>
