<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <array>
      <dict>
         <key>Label</key>
         <string>Agenda</string>
         <key>Scheme</key>
         <string>agenda://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Airbnb</string>
         <key>Scheme</key>
         <string>airbnb://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Airmail</string>
         <key>Scheme</key>
         <string>airmail://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Airtable</string>
         <key>Scheme</key>
         <string>airtable://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Amazon Alexa</string>
         <key>Scheme</key>
         <string>alexa://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Amazon Fire TV</string>
         <key>Scheme</key>
         <string>firetv://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>AMC Theaters</string>
         <key>Scheme</key>
         <string>amc://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Anchor</string>
         <key>Scheme</key>
         <string>anchorfm://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Any.do</string>
         <key>Scheme</key>
         <string>anydo://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Asana</string>
         <key>Scheme</key>
         <string>asana://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Babbel</string>
         <key>Scheme</key>
         <string>babbel://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Balance</string>
         <key>Scheme</key>
         <string>balanceapp://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Bank of America Mobile Banking</string>
         <key>Scheme</key>
         <string>bofa://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Best Buy</string>
         <key>Scheme</key>
         <string>bestbuy://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Bible</string>
         <key>Scheme</key>
         <string>youversion://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>BlueJeans Video Conferencing</string>
         <key>Scheme</key>
         <string>bjn://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Callsheet</string>
         <key>Scheme</key>
         <string>callsheet://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Camera+</string>
         <key>Scheme</key>
         <string>cameraplus://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Canva</string>
         <key>Scheme</key>
         <string>canvaeditor://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Carb Manager</string>
         <key>Scheme</key>
         <string>carbmanager://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Cash App</string>
         <key>Scheme</key>
         <string>squarecash://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Cisco Webex</string>
         <key>Scheme</key>
         <string>wbx://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Citi Mobile</string>
         <key>Scheme</key>
         <string>citiglobal://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Clue Period &amp; Cycle Tracker</string>
         <key>Scheme</key>
         <string>clue://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Dashlane</string>
         <key>Scheme</key>
         <string>dashlane://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Deezer</string>
         <key>Scheme</key>
         <string>deezer://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>DoorDash</string>
         <key>Scheme</key>
         <string>doordash://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>DoubleTake</string>
         <key>Scheme</key>
         <string>doubletake://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Drafts</string>
         <key>Scheme</key>
         <string>drafts://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>DropBox</string>
         <key>Scheme</key>
         <string>dbx-dropbox://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>DuckDuckGo</string>
         <key>Scheme</key>
         <string>ddgNewSearch://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Duolingo</string>
         <key>Scheme</key>
         <string>duolingo://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Elevate</string>
         <key>Scheme</key>
         <string>elevateapp://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Enlight</string>
         <key>Scheme</key>
         <string>videoleap://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>ESPN</string>
         <key>Scheme</key>
         <string>sportscenter://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>EufyHome</string>
         <key>Scheme</key>
         <string>eufyhome://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>EufyLife</string>
         <key>Scheme</key>
         <string>eufylife://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Eufy Security</string>
         <key>Scheme</key>
         <string>eufysecurity://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Evernote</string>
         <key>Scheme</key>
         <string>evernote://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Exif Metadata Editor</string>
         <key>Scheme</key>
         <string>metadataeditor://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Facebook</string>
         <key>Scheme</key>
         <string>fb://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Facebook Business Suite</string>
         <key>Scheme</key>
         <string>fb-biz://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Facetune2</string>
         <key>Scheme</key>
         <string>facetune2://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Fahlo Animal Tracker</string>
         <key>Scheme</key>
         <string>com.fahlo.fahlo://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Fandango</string>
         <key>Scheme</key>
         <string>fandango://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Fantastical</string>
         <key>Scheme</key>
         <string>fantastical://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>FiLMiC Pro</string>
         <key>Scheme</key>
         <string>filmicpro://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Firefo Focus</string>
         <key>Scheme</key>
         <string>firefox-focus://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Fitbit</string>
         <key>Scheme</key>
         <string>fitbit://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Flickr</string>
         <key>Scheme</key>
         <string>flickr://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Flow</string>
         <key>Scheme</key>
         <string>mskflow://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Focos</string>
         <key>Scheme</key>
         <string>focos://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>FOX NOW</string>
         <key>Scheme</key>
         <string>foxapp://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>FreedomPop</string>
         <key>Scheme</key>
         <string>freedompop://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Gasbuddy</string>
         <key>Scheme</key>
         <string>gasbuddy://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Gmail</string>
         <key>Scheme</key>
         <string>googlemail://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Goodreads</string>
         <key>Scheme</key>
         <string>goodreads://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google</string>
         <key>Scheme</key>
         <string>google://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Assistant</string>
         <key>Scheme</key>
         <string>googleassistant://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Calendar</string>
         <key>Scheme</key>
         <string>googlecalendar://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Docs</string>
         <key>Scheme</key>
         <string>googledocs://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Chrome</string>
         <key>Scheme</key>
         <string>googlechrome://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Drive</string>
         <key>Scheme</key>
         <string>googledrive://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Earth</string>
         <key>Scheme</key>
         <string>googleearth://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Home</string>
         <key>Scheme</key>
         <string>googlehome://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Keep</string>
         <key>Scheme</key>
         <string>comgooglekeep://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Maps</string>
         <key>Scheme</key>
         <string>googlemaps://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Meet</string>
         <key>Scheme</key>
         <string>gmeet://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Photos</string>
         <key>Scheme</key>
         <string>googlephotos://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Sheets</string>
         <key>Scheme</key>
         <string>googlesheets://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Translate</string>
         <key>Scheme</key>
         <string>googletranslate://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Google Voice</string>
         <key>Scheme</key>
         <string>googlevoice://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Gospel Library</string>
         <key>Scheme</key>
         <string>gospellibrary://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>GoTo</string>
         <key>Scheme</key>
         <string>com.logmein.gotoconnect://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>GoToMeeting</string>
         <key>Scheme</key>
         <string>gotomeeting://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Halide</string>
         <key>Scheme</key>
         <string>halide://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>HashPhotos</string>
         <key>Scheme</key>
         <string>hasphotos://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>HBO NOW</string>
         <key>Scheme</key>
         <string>hbonow://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Headspace</string>
         <key>Scheme</key>
         <string>headspace://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>HEOS</string>
         <key>Scheme</key>
         <string>heosbydenon://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Hidden Message Dot App</string>
         <key>Scheme</key>
         <string>hiddenmessage://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Home Depot</string>
         <key>Scheme</key>
         <string>homedepot://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Hulu</string>
         <key>Scheme</key>
         <string>hulu://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Hyperlapse</string>
         <key>Scheme</key>
         <string>hyperlapse://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>IMDb</string>
         <key>Scheme</key>
         <string>imdb://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Insight Timer</string>
         <key>Scheme</key>
         <string>insight://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Instagram</string>
         <key>Scheme</key>
         <string>instagram://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Kahoot!</string>
         <key>Scheme</key>
         <string>kahoot://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Kasa Smart</string>
         <key>Scheme</key>
         <string>kasa://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Keeper Password Manager</string>
         <key>Scheme</key>
         <string>keeper://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>LastPass</string>
         <key>Scheme</key>
         <string>lastpass://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Launch Center Pro</string>
         <key>Scheme</key>
         <string>launcher://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Memrise</string>
         <key>Scheme</key>
         <string>memrise://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Litely</string>
         <key>Scheme</key>
         <string>litely://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Lose It!</string>
         <key>Scheme</key>
         <string>loseit://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Lyft</string>
         <key>Scheme</key>
         <string>lyft://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Mercury Web Browser Pro</string>
         <key>Scheme</key>
         <string>merc://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Messenger</string>
         <key>Scheme</key>
         <string>fb-messenger://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Microsoft Authenticator</string>
         <key>Scheme</key>
         <string>msauth://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Microsoft Edge</string>
         <key>Scheme</key>
         <string>microsoft-edge://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Microsoft Outlook</string>
         <key>Scheme</key>
         <string>ms-outlook://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Microsoft Planner</string>
         <key>Scheme</key>
         <string>planner://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Microsoft PowerPoint</string>
         <key>Scheme</key>
         <string>powerpoint://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Microsoft SharePoint</string>
         <key>Scheme</key>
         <string>ms-sharepoint://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Microsoft Teams</string>
         <key>Scheme</key>
         <string>msteams://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Microsoft Word</string>
         <key>Scheme</key>
         <string>word://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Microsoft Excel</string>
         <key>Scheme</key>
         <string>excel://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>MoviePass</string>
         <key>Scheme</key>
         <string>moviepass://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>MSNBC</string>
         <key>Scheme</key>
         <string>msnbctv://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>MultiTimer</string>
         <key>Scheme</key>
         <string>multitimer://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Netflix</string>
         <key>Scheme</key>
         <string>nflx://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Noir</string>
         <key>Scheme</key>
         <string>noir://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>NordVPN</string>
         <key>Scheme</key>
         <string>nordvpn://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Opera Mini</string>
         <key>Scheme</key>
         <string>opera-://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>PayPal</string>
         <key>Scheme</key>
         <string>paypal://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>PBS KIDS Video</string>
         <key>Scheme</key>
         <string>pbskidsvideo://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Peloton</string>
         <key>Scheme</key>
         <string>pelotoncycle://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>PhotoScan</string>
         <key>Scheme</key>
         <string>photoscan://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>PicsArt</string>
         <key>Scheme</key>
         <string>picsart://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Pintrest</string>
         <key>Scheme</key>
         <string>pintrest://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Pocket</string>
         <key>Scheme</key>
         <string>pocket://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Polymail</string>
         <key>Scheme</key>
         <string>polymail://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>ProtonMail</string>
         <key>Scheme</key>
         <string>protonmail://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Puffin Browser</string>
         <key>Scheme</key>
         <string>puffin://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Quizizz</string>
         <key>Scheme</key>
         <string>quizizz://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Reddit</string>
         <key>Scheme</key>
         <string>reddit://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Reflectly</string>
         <key>Scheme</key>
         <string>reflectly://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Replika</string>
         <key>Scheme</key>
         <string>luka://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Rosetta Stone</string>
         <key>Scheme</key>
         <string>rstotalecompanion://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Sam's Club</string>
         <key>Scheme</key>
         <string>samsclub://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Shazam</string>
         <key>Scheme</key>
         <string>shazam://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Signal</string>
         <key>Scheme</key>
         <string>sgnl://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>SimpleMind+</string>
         <key>Scheme</key>
         <string>simplemind://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Skype</string>
         <key>Scheme</key>
         <string>skype://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Slack</string>
         <key>Scheme</key>
         <string>slack://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Sleep Cycle</string>
         <key>Scheme</key>
         <string>sleepcycle://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Snapchat</string>
         <key>Scheme</key>
         <string>snapchat://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>SoundHound</string>
         <key>Scheme</key>
         <string>soundhound://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Spark</string>
         <key>Scheme</key>
         <string>readdle-spark://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Speedtest by Ookla</string>
         <key>Scheme</key>
         <string>speedtest://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Spotify</string>
         <key>Scheme</key>
         <string>spotify://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Streaks</string>
         <key>Scheme</key>
         <string>streaks://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Target</string>
         <key>Scheme</key>
         <string>target://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>TeamViewer</string>
         <key>Scheme</key>
         <string>tvcontrol1://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Telegram</string>
         <key>Scheme</key>
         <string>telegram://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>TickTick</string>
         <key>Scheme</key>
         <string>ticktick://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Timer+</string>
         <key>Scheme</key>
         <string>timerplus://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Today Habit tracker</string>
         <key>Scheme</key>
         <string>today://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Today Weather</string>
         <key>Scheme</key>
         <string>todayweather://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Trello</string>
         <key>Scheme</key>
         <string>trello://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Tripadvisor</string>
         <key>Scheme</key>
         <string>tripadvisor://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>TuneIn</string>
         <key>Scheme</key>
         <string>tunein://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Twitch</string>
         <key>Scheme</key>
         <string>twitch://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Twitter</string>
         <key>Scheme</key>
         <string>twitter://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Uber</string>
         <key>Scheme</key>
         <string>uber://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Uber Eats</string>
         <key>Scheme</key>
         <string>ubereats://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>UC Browser</string>
         <key>Scheme</key>
         <string>ucbrowser://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Udemy</string>
         <key>Scheme</key>
         <string>udemy://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>UpKeep</string>
         <key>Scheme</key>
         <string>com.upkeep://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Verizon My Fios</string>
         <key>Scheme</key>
         <string>vz-myfios://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>ExpressVPN</string>
         <key>Scheme</key>
         <string>expressvpn://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>CyberGhost</string>
         <key>Scheme</key>
         <string>cyberghost://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>VPN Unlimited</string>
         <key>Scheme</key>
         <string>vpnunlimited://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>VSCO</string>
         <key>Scheme</key>
         <string>vsco://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>VyprVPN</string>
         <key>Scheme</key>
         <string>vyprvpn://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Waze</string>
         <key>Scheme</key>
         <string>waze://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Weather Underground</string>
         <key>Scheme</key>
         <string>wxunderground://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>WGT Golf</string>
         <key>Scheme</key>
         <string>worldofgolf://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>WhatsApp</string>
         <key>Scheme</key>
         <string>whatsapp://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Wunderlist</string>
         <key>Scheme</key>
         <string>wunderlist://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Yandex Browser</string>
         <key>Scheme</key>
         <string>yandexbrowser://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>YNAB (You Need A Budget)</string>
         <key>Scheme</key>
         <string>ynab://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>YouTube</string>
         <key>Scheme</key>
         <string>youtube://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>YouTube Music</string>
         <key>Scheme</key>
         <string>youtubemusic://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>YouTube Studio</string>
         <key>Scheme</key>
         <string>creatorstudio://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>YouTube TV</string>
         <key>Scheme</key>
         <string>youtubetv://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Zelle</string>
         <key>Scheme</key>
         <string>zelle://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>Zello Walkie Talkie</string>
         <key>Scheme</key>
         <string>zello://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>ZOOM</string>
         <key>Scheme</key>
         <string>zoomus://</string>
      </dict>
      <dict>
         <key>Label</key>
         <string>ZuluDesk Student</string>
         <key>Scheme</key>
         <string>zuludesk://</string>
      </dict>
   </array>
</plist>